
<h1>Add Student</h1>
@* <div class="row">
    <div class="col-md-6">
        <label>First Name</label>
        <input type="text" name="Name" />
    </div>
    <div class="col-md-6">
        <label>Last Name</label>
        <input type="text" name="Name" />
    </div>
</div> *@

<div class="row">
    <div class="col-md-12 form-control">
        <label>First Name</label>
        <input type="text" name="Name" />
    </div>
    <div class="col-md-12">
        <label>Last Name</label>
        <input type="text" name="Name" />
    </div>
</div>
<div>
    <label>button</label>
    <input type="button" name="button" />
</div>
<div>
    <label>checkbox</label>
    <input type="checkbox" name="Name" />
</div>


<label>color</label>
<input type="color" name="Name" />
<label>date</label>
<input type="date" name="Name" />
<label>email</label>
<input type="email" name="Name" />
<label>number</label>
<input type="number" name="Name" />
<label>radio</label>
<input type="radio" name="Name" />
