<h1>Student Details</h1>

<a asp-controller="Student" asp-action="AddStudent" >Add Student</a>
<table class="table">
    <thead style="background-color:blue">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody style="background-color:gray">
            <tr>
                <td>1</td>
                <td>Manoj</td>
                <td>1</td>
                <td>avwdfghui</td>
            </tr>
        <tr>
            <td>2</td>
            <td>Manoj</td>
            <td>1</td>
            <td>avwdfghui</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Manoj</td>
            <td>1</td>
            <td>avwdfghui</td>
        </tr>
        
    </tbody>
    </table>
